body {
    background: #571845;
    font-family: 'Roboto', sans-serif;
}

.calculadora{
    display: grid;
    justify-content: center;
}
.contenido-calculadora{
    background-color: #C70039;
    padding: 13px;
    border-radius: 15px;
}

.contenedor-resultado{
    margin: 8px;
}

.resultado {
    background-color: white;
    color: #C70039;
    height: 75px;
    font-size: 5ch;
    text-align: end;
    width: 305px;
    border-radius: 10px;
    border-color: white;
}

.contenido-centro{
    display: flex;
}

.boton {
    background-color: #FF5733;
    color: yellow;
    font-size: 5ch;
    border-radius: 10px;
    border-color: #FF5733;
    width: 70px;
    height: 70px;
    margin: 2px 2px 6px 6px;
}

.contenido-derecha {
    display: grid;
    margin-left: 4px;

}
.suma {
    background-color: #FF5733;
    color: yellow;
    font-size: 5ch;
    border-radius: 10px;
    border-color: #FF5733;
    width: 70px;
    height: 150px;
    margin: 2px 2px 6px 6px;
}
.igual{
    background-color: #FF5733;
    color: yellow;
    font-size: 5ch;
    border-radius: 10px;
    border-color: #FF5733;
    width:150px;
    height: 70px;
    margin: 2px 2px 6px 6px;
}